*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.top_bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
}

.btn{
    background-color: rgb(74,74,74);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    height: 80vh;
    max-width: 95vw;
    margin: auto;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-between;
    margin-bottom: 10px;
}

.row{
    margin-bottom: 8px;

}

.user{
    border-radius: 0;
    background-color: rgba(74,74,74,0.5);
    position: absolute;
    left: 0;
    bottom:0;
}

.col,img,.row{
  width: 210px;
  height: 120px;
}

.col{
    position: relative;
}

footer{
    background-color: rgb(34,34,34);
}

.foot_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.foot_col{
    text-align: center;
}

li{
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
}

li h3{
    font-size: 12px;
}

li i{
    font-size: 25px;
    margin-bottom: 5px;
}

i.green{
    color: green;
}

.end_call a{ 
    font-size: 12px;
    color: red; 
}

.end_call{
    background-color: rgba(74,74,74,0.5);
    line-height: 10vh;
    padding: 0px 15px;
}

li.choise i{
    font-size: 15px;
}

ul{
    display: flex;
    align-items: center;
}
